.mat-form-field {
    margin-right: 12px;
}

  section:not(:last-of-type) {
    margin-bottom: 24px;
  }
  
  
  .example-card {
    width: 300px;
    float: left;
    margin: 0px 10px 10px;
  }

  .spacer{
    flex: 1 1 auto;
  }
  .example-header-image {
    background-size: cover;
  }
  
//   
pagination-controls {
    text-align: center;
}