
  .main_content {
    // width:100%; 
    // height: calc(100vh - 100px); 
    background: #efefef;
    // min-height: 530px;
    min-height: 100vh;
    height: 100%;
  }

  .container-fluid{
    padding-top: 20px;
  }