.mat-form-field {
    // margin-right: 12px;
    width: 100%;
}

// card
  
  section:not(:last-of-type) {
    margin-bottom: 24px;
  }
  
  
  .example-card {
    width: 250px;
    float: left;
    margin: 0px 10px 10px;
  }

  .spacer{
    flex: 1 1 auto;
  }
  .example-header-image {
    background-size: cover;
  }
  
//   
pagination-controls {
    text-align: center;
}

.mat-paginator {
  background: #fbfcfd;
  color: black;
}
.mat-icon{
  color: #1562fc;
}